body{
    font: normal 15pt;
    background-color: rgb(9, 9, 82);
}

header{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
}
.cont{
    background-color: white;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 10px;
    max-width: 800px;
}
.time{
    text-align: center;
}
.photo{
    width: 100%;
}
img{
    display: block;
    border-radius: 50%;
    width: 60%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}